@model TestAssessmentDana2.Models.ListUsersViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table-responsive">
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email Address</th>
        <th>Role</th>
        <th>Suspended?</th>
        <th></th>
        <th></th>
    </tr>
    @foreach (var item in Model.UserRoleModels)
    {
        foreach (var user in item.Users)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => user.FirstName)</td>
                <td>@Html.DisplayFor(modelItem => user.LastName)</td>
                <td>@Html.DisplayFor(modelItem => user.Email)</td>
                <td>@Html.DisplayFor(modelItem => item.Role.Name)</td>
                <td>@if (user.IsBanned == true)
                    {
                        <text>Y</text>
                    }
                    else
                    {
                        <text>N</text>
                    }
                </td>
                
                    @if (item.Role.Name.Equals("Standard_User"))
                    {
                        <td>
                            @using (Html.BeginForm("Promote", "User", FormMethod.Post))
                            {
                            <input type="hidden" name="userID" value="@user.Id" />
                            <input type="hidden" name="roleName" value="@item.Role.Name" />
                            <input class="btn-success" type="submit" value="Promote User">
                            }
                        </td>
                    }
                    @if (item.Role.Name.Equals("Promoted_User"))
                    {
                        <td>
                            @using (Html.BeginForm("Demote", "User", FormMethod.Post))
                            {
                            <input type="hidden" name="userID" value="@user.Id" />
                            <input type="hidden" name="roleName" value="@item.Role.Name" />
                            <input class="btn-warning" type="submit" value="Demote User">
                            }
                        </td>
                    }
                    @if (user.IsBanned == false)
                    {
                        <td>
                            @using (Html.BeginForm("Suspend", "User", FormMethod.Post))
                            {
                                <input type="hidden" name="userID" value="@user.Id" />
                                <input class="btn-danger" type="submit" value="Suspend User">
                            }
                        </td>
                    }
                    else
                    {
                        <td>
                            @using (Html.BeginForm("Reinstate", "User", FormMethod.Post))
                            {
                            <input type="hidden" name="userID" value="@user.Id" />
                            <input class="btn-success" type="submit" value="Reinstate User">
                            }
                        </td>
                    }
            </tr>
        }
    }
</table>



