@model TestAssessmentDana2.Models.ListUsersViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>First Name</th>
        <th>Role</th>
        <th></th>
    </tr>
    @foreach (var item in Model.UserRoleModels)
    {
        foreach (var user in item.Users)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => user.FirstName)</td>
                <td>@Html.DisplayFor(modelItem => item.Role.Name)</td>
                <td>
                    @if (item.Role.Name.Equals("Standard_User"))
                    {
                        using (Html.BeginForm("Promote", "User", FormMethod.Post))
                        {
                            <input type="hidden" name="userID" value="@user.Id" />
                            <input type="hidden" name="roleName" value="@item.Role.Name" />
                            <input type="submit" value="Promote User">
                        }
                    }
                    @if (item.Role.Name.Equals("Promoted_User"))
                    {
                        using (Html.BeginForm("Demote", "User", FormMethod.Post))
                        {
                            <input type="hidden" name="userID" value="@user.Id" />
                            <input type="hidden" name="roleName" value="@item.Role.Name" />
                            <input type="submit" value="Demote User">
                        }
                    }
                    @if (!user.IsBanned || !User.IsInRole("Administrator"))
                    {
                        using (Html.BeginForm("Suspend", "User", FormMethod.Post))
                        {
                            <input type="hidden" name="userID" value="@user.Id" />
                            <input type="submit" value="Suspend User">
                        }
                    }
                    else if (user.IsBanned)
                    {
                        using (Html.BeginForm("Reinstate", "User", FormMethod.Post))
                        {
                            <input type="hidden" name="userID" value="@user.Id" />
                            <input type="submit" value="Reinstate User">
                        }
                    }
                </td>
            </tr>
        }
    }
</table>



